::-webkit-scrollbar{
    width: 8px;
    background: none;
}
::-webkit-scrollbar-thumb{
    background: #fd2929f5;
    border-radius:12px;
}
/* body{
    scroll-behavior: smooth;
} */


.dark-theme{
    background-image: repeating-linear-gradient(45deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(5,11,24),rgb(1,3,38));
    color: #f3f3f3;
}
/* .dark-theme .testimonial{
    background-color: #222 !important;
} */
.light-theme .awssld__content {
    background-color: #ffffff !important;
}
.dark-theme h2{
    color: rgb(243, 240, 240);
}
.dark-theme h3{
    color: #222;
}
.dark-theme .author-title{
    color: #ffffff;
}
.dark-theme .reviewRank{
    color: #ffffff;
}
.dark-theme .reviewPara{
    color: #ffffff;
}
.dark-theme .review{
    box-shadow:1px 2px 16px 2px #c4c4c48c;
}
.dark-theme h5{
    color: #afafaf;
}
.dark-theme label{
    color: #302f2f;
}
.dark-theme small{
    color: #0d6efd;
}
.light-theme{
    background-image: repeating-linear-gradient(45deg, rgba(0,0,0, 0.05) 0px, rgba(0,0,0, 0.05) 1px,transparent 1px, transparent 11px,rgba(0,0,0, 0.05) 11px, rgba(0,0,0, 0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, rgba(0,0,0, 0.05) 0px, rgba(0,0,0, 0.05) 1px,transparent 1px, transparent 11px,rgba(0,0,0, 0.05) 11px, rgba(0,0,0, 0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, rgba(0,0,0, 0.05) 0px, rgba(0,0,0, 0.05) 1px,transparent 1px, transparent 11px,rgba(0,0,0, 0.05) 11px, rgba(0,0,0, 0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, rgba(0,0,0, 0.05) 0px, rgba(0,0,0, 0.05) 1px,transparent 1px, transparent 11px,rgba(0,0,0, 0.05) 11px, rgba(0,0,0, 0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(144,161,205),rgb(221,222,236));
}
.light-theme .skill__title{
 color: #fff;   
}